


body {
 
  background: url(../images/bg.jpg)  no-repeat fixed; /* pour ajuster l'image car decalage pour taille de container */
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */         
  text-align: center;
}

 .h1Header{

  font-family: 'Source Sans Pro', sans-serif;
	font-size: 85px;
	font-weight: 900;
	color: #ffffff;
}

.h2ArticleMain{

  font-family: 'Source Sans Pro', sans-serif;
	font-size: 75px;
	font-weight: 900;
	
}

.pArticleMain{

	font-family:'Merriweather', serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 45px;    
}

.pHeader{

	font-family:'Merriweather', serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 45px;
  color: #ffffff;
}

.date:before{


}

a:link 
{ 
 text-decoration:none;
 
} 
 
  h1, h2, h3, h4, h5, h6 {

    font-family: "Source Sans Pro",Helvetica,sans-serif;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.5;
    margin: 0 0 1rem;
    text-transform: uppercase;
  }

.col-lg-12{
    padding-right: 150px;
    padding-left: 150px;
    background-color: #ffffff; 
}

.header{

    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
	  height:500px;
	  margin-bottom: 100px; 
    margin-top: 200px;  
}


.fond_blanc{
  background-color: #ffffff; 
}

.container{
    padding-left: 0px;
    padding-right: 0px;  
    overflow:hidden;
      
}


.navbar {

    background: rgba(0,0,0,0.2);
    border-radius: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    border: none;
}


.active{
  
   background-color: #ffffff; 
}


/*Glyphicone (cercle blanc fin + fleche_bas)  + hover */

.fa-circle-thin{
	
  color: transparent; 
}

.fa-arrow-down{
	color: #ffffff;
}

.fa-circle-thin::before{

	box-sizing: border-box;
    display: inline-block;
    width:1em;
    height:1em;
    border-radius: 100%;
    border: 2px solid #ffffff; 
    font-size:0.6em;
}

.fa-arrow-down::before{
	font-size:25px;	
}

.fa-stack:hover .fa-arrow-down{
	color: #18bfef;	
}
 
.fa-stack:hover .fa-circle-thin:before{
	border-color: #18bfef;	
}



/* POUR LES BOTTOM */
.actions{
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.actions-f{
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;
}

.action-button{
  background: none;
  border : solid;
  border-radius: 0px;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
}


/* POUR LES POST */

.post{
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  padding: 4rem
}

.post header,   .post p{
  text-align: center;
}

/* POUR LE ZOOM DES IMAGES */
.container-img-zoom{
  overflow: hidden;
}

.container-img-zoom img {
  width: 100%;
}

.container-img-zoom:hover img{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05) ;
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05) ;
}

.container-img-zoom img{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* POUR LE FORMULAIRE DE CONTACT */

.form-control {
  background-color: #F2F2F2;
}

.footer{
  text-align : left;
  border-style: solid;
  border-width: 1px;
  border-color: #A9A9A9;
  padding: 4rem;
  background-color: #F2F2F2;
}

.footerigth{
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  padding: 4rem;
  text-align: left;
  float: right;
}

 .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/* POUR LES SOCIAL ICONS */
.social {
  margin: 0;
  padding: 0;
}

.social ul {
  margin: 0;
  padding: 5px;
}

.social ul li {
  margin: 5px;
  display: inline-block;
}

.social i {
  width: 40px;
  height: 40px;
  color: #A9A9A9;
  background-color: none;
  font-size: 22px;
  text-align:center;
  padding-top: 12px;
}



 